#your-next-media:after,
#your-next-media:before{
  font-size: 20px !Important;
  display: block !Important;
  position: absolute !Important;
  right: 5px !Important;
}

#your-next-media:after{
  content: "Chill music for chill people.";
  font-weight: normal !Important;
  font-style: italic !Important;
}

#your-next-media:before{
  content: "http://chilloutmixer.com";
  color: #B4C9DE;
  top: 24px !Important;
}
